*.swp
*.swo
*.pyc
*.rpm
*.spec
*gen-cpp
*gen-py
tags

container-scripting
container-pyinstaller
container-final
container-nolinks
logs
container_template/config/ssl/server/
ezfrontend/
utils/test_server_package.tar.gz
utils/test_server_package/
utils/ezfrontendui.spec

#submodules
ezcppsecurity/
eznginx/

eznginxmodule/.cproject
eznginxmodule/.project
eznginxmodule/.settings/
eznginxmodule/target/

ezReverseProxy/templates/ezbstatic/components

